* {
    margin: 0;
    padding: 0;
}
body {
    background-color:burlywood;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.title-box {
    background-color: transparent;
    position:absolute;
    z-index: 999;
    padding: 50px;
    top: 180px;
    box-shadow: -13px 13px 2px 1px rgb(10, 0, 0);
}
header h1{
    font-size: 80px;
    text-align: center;
}
header p {
    font-size: 30px;
    text-align: center;
}
header h1, header p, li {
    font-family: 'Indie Flower', cursive;
}
/* slider */
.slider {
    overflow: hidden;
}
.slides {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(500px * 4);
    height: 720px;
    animation: glisse 15s infinite ease;
}
.slide {
    opacity: 0.5;
}
@keyframes glisse{
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}
/* navigation menu */
.section-menu {
    justify-content: center;
    transform: translateY(-130px);
    display: flex;
    flex-direction: row;
}
nav.menu {
    width: calc(500px * 4);
}
nav.menu ul li {
    list-style-type: none;
    display: flex;
    align-items: row;
    justify-content: center;
    background-image: url(../images/solo.jpg);
    background-size: 100%;
}

nav.menu ul li a {
    color:sienna;
    text-decoration:dotted;
    font-size: 100px;
}
.container {
    column-width: 500px;
    column-gap: 50px;
  }
  
  .card {
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: burlywood;
    border: 2px solid ;
    padding: 20px;
    margin: 0 0 1em 0;
  }
 
.kits {
    background-color: burlywood 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
h2 {
    color: red;
}
.accueil {
    font-size: 40px;
    display: flex;
    justify-content: center;
}
/* sections plats */
.item {
    background-color:burlywood;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    transition: 0.3s all;
    width: 100%;
}
.item:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}
.item:hover {
    transition: 0.3s all;
    box-shadow: -8px 8px 2px 1px rgba(0, 0, 0, .1);
}
.item-infos {
    padding: 1px;
    line-height: 20px;
}
section {
    padding: 10px;
    font-family: 'Indie Flower', cursive;
}
.item-infos h3 {
    font-size: 20px;
}
.item-infos hr {
    margin: 10px 0 10px 0;
    opacity: 0.5;
}
p.prix {
    font-weight: bold;
    font-size: 22px;
}
section img {
    width: 300px;
}
/* pied de page */
footer p {
    font-size: 22px;
    text-align: center;
    color: black;
    padding: 20px;
    font-family: 'Indie Flower', cursive;
}